<a href="https://colab.research.google.com/github/arsandisaputra/Pythonist/blob/main/Menuju_Thesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re

import seaborn as sns
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model

print(os.listdir("./sample_data"))

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

['README.md', 'anscombe.json', 'eng-fra.txt', '.ipynb_checkpoints', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_train_small.csv', 'mnist_test.csv']

In [ ]:
lines=pd.read_csv("./sample_data/eng-fra.txt", sep="\t", header=None, encoding='utf-8')
lines.columns=["english_text", "french_text"]
lines=shuffle(lines)
lines.head()

               english_text                     french_text
15354    Are you from here?              Vous habitez ici ?
20598   I hear you're rich.  On m'a dit que tu étais riche.
25378  I travel frequently.          Je voyage fréquemment.
10229      It's only money.      Il ne s'agit que d'argent.
22501   Tom died last year.      Tom est mort l'an dernier.

**Preprocessing**

In [ ]:
lines['english_text']=lines['english_text'].apply(lambda x:x.lower())
lines['french_text']=lines['french_text'].apply(lambda x:x.lower())

In [ ]:
lines['english_text']=lines['english_text'].apply(lambda x:re.sub("'",'',x))
lines['french_text']=lines['french_text'].apply(lambda x:re.sub("'",'',x))

In [ ]:
exclude = set(string.punctuation)
lines['english_text']=lines['english_text'].apply(lambda x:''.join(ch for ch in x if ch not in exclude))
lines['french_text']=lines['french_text'].apply(lambda x:''.join(ch for ch in x if ch not in exclude))

In [ ]:
remove_digits = str.maketrans('','',digits)
lines['english_text']=lines['english_text'].apply(lambda x:x.translate(remove_digits))
lines['french_text']=lines['french_text'].apply(lambda x:x.translate(remove_digits))